################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/obj/Debug
/FeatureFlag/obj/Debug
/UnitTest/obj/Debug
/Database
/.vs/FeatureFlag/v14
